.blue {
  background-color: blue;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.green {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.border {
  border: 2px solid red;
}
